{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 500,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "off"
}